__pycache__/
*.pyc

build/
dist/
output/
*.rar

Hex-X.session.json
Hex-X.editor.json
Hex-X.recovery.json
Hex-X.crash.log
*.hexx.notes.json
Hex-X.*.session.json
Hex-X.*.editor.json
Hex-X.Version.File.txt
*.json
!cfg/themes/*.json
cfg/themes/lolcat.json
cfg/backups/
cfg/remote-cache/
cfg/themes/*.hexx.notes.json
cfg/themes/*.hexx.editors.json
*.tmp
